#login_section{   
    position: absolute;
    line-height: 25px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 10%;
    color: #ffffffb3;
    padding-top: 6%;
}
input[type="text"], input[type="email"]{
    background-color: white;
    border-radius: 10px;

    border: 2px solid gold;
    box-shadow: 1px 1px 1px 1px;
}
#submitBtn{
    // float: left;
    text-align: left;
    #loginbtn{
        margin: 12px 4px;
        // background-color: crimson;
        background-image: linear-gradient(to right, #d7a04f , #f5d36f);
        color: black;
        border-radius: 24px;
        padding: 6px 70px;

        
    }
}
label{
    color:#fff;
}

@media (max-width: 850px) and (orientation: landscape) {
    #login_section{max-width:70%}
    }

    #login_section::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    #login_section {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }

// form{
//     border: 4px solid #3b3b7e;
//     border-radius: 10px;
//     background: #5e67f124;
// }