<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12  px-0">
                <img id="bgimg" src="assets/event/login.jpg" alt="" style="height: 100vh;
                width: 100%;">
                <div id="login_section" class="col-md-4" style="max-height: 100vh; overflow-y: scroll;">
                    <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()">
                        <img class="mb-3" src="assets/event/form4.png" alt="" width="100%">
                        <div class="form-group pt-3 pb-3">

                            <label>Enter Registered Email ID*</label><span><img routerLink="/signup" src="assets/event/button2.png" title="Register" width="20%" alt="" style="cursor: pointer; float: right;"></span>
                            <input type="text" class="form-control" required autocomplete="off" formControlName="email">
                            <div class="invalidError"
                                *ngIf="(loginForm.get('email').invalid && loginFormDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)">
                                Email is Required*
                            </div><br>
                            <!-- <label>LAST NAME</label>
                    <input type="text" class="form-control" required autocomplete="off" formControlName="last_name">
                    <div class="invalidError" *ngIf="(loginForm.get('last_name').invalid && loginFormDir.submitted) || (loginForm.get('last_name').dirty && loginForm.get('last_name').invalid)">
                        Last Name is Required*
                    </div> -->
                        </div>
                        <div id="submitBtn">
                            <input name="login" id="loginbtn" class="btn" type="submit" value="JOIN">
                        </div>

                    </form>
                    <br>
                    <!-- <div id="already_reg" class="m-2">
                <p><span class="text-dark">Not Registered?</span> &nbsp; <a routerLink="/signup" class="h6" title="Signup">Signup</a></p>
            </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
    <span id="skip" *ngIf="isVideoPlayed">
        <a class="nav-link sign" (click)="skip()" title="skip" role="button">
            Skip</a>
    </span>
    <video id="outerVideo" preload="auto" class="videoBg" (ended)="endVideo()">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/pds11dec/outer.mp4" type="video/mp4">
    </video>
</div>
<!-- <div id="underprogress">
    <p>Something Awsome will be coming soon...</p>
</div> -->