#arrowButtons{
    color: white;
    #arrLeft,#arrRight{
        cursor: pointer;
        position: fixed;
        bottom: 15%;
        font-weight: 600;
        background-color: #e17044;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        text-align: center;
        box-shadow: 0 0 5px 2px #e17044;
        .fa{
            font-size: 48px;
            // background: black;
            border-radius: 50%;
            line-height: 46px;
        }
        
    }
    #arrLeft{
        left: 3%;
    }
    #arrRight{
        right: 3%;
    }
}
#arrLeft:hover, #arrRight:hover{
    transition: .3s;
    transform: scale(1.2);
}

.p1{
    top: 68%;
    left: 70%;
}
.p2{
    top: 68%;
    left: 22.5%;
}
.p3{
    top: 74%;
    left: 24%;
}
.p4{
    top: 74%;
    left: 79%;
}