.bg{    
    background-image: url("../../assets/event/login.jpg");

    /* Full height */
    height: 100vh; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid{
    position: relative;
    top: 25%;
    #page_content{
        padding: 10px;
        border-radius: 10px;
        background: rgba(248, 247, 247, 0.178);
        margin: 3%;
        #submitBtn{
            .btn{
                background: rgb(228, 18, 18);
                color: white;
                border-radius: 24px;
                padding: 6px 28px;                
            }
        }
    }
}
input{
    background-color: #ffffff5e;
    outline: none;
}
input:focus{
    border-color: rgba(239, 120, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 120, 104, 0.8);
    outline: none;
}