
<!-- <div class="h-5">
    <img src="../../assets/logo.png" class="p-2" alt="">
    <div class="float-right p-3">
        <div style="color: #f15c25;border: 1px solid #f15c25;padding: 5px; font-weight: 900">#ETSaleStrategy</div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12  px-0">
            <img src="assets/event/login2.jpg" class="signup-img" alt="login image">
            <div class="signup-section col-md-4" style="    max-height: 100vh;
            overflow-y: scroll;">
                    
                    <!-- <h4 class="pl-3 pt-2"><span style="border-bottom: 2px solid black; font-weight: 600">SIGNUP</span></h4> -->
                    <h6 class="pl-3 pt-2" *ngIf="msg"><span style="font-size: 20px;
                        font-weight: bold;
                        color: red;">{{msg}}</span></h6>
                    <form class="pt-2" [formGroup]="signupForm" (ngSubmit)="register()" #formDir="ngForm">
                        <img class="mb-3" style="border: 4px solid #3b3b7e;margin-top: -8px;    background: #ffffff0a;
                    border-radius: 10px;" src="assets/event/form2.png" alt="" width="100%">
                        <div class="form-row">
                            <div class="col-md-6 col-xl-6 col-sm-6 px-3 py-2">
                                <label for="formGroupExampleInput">Name*</label>
                                <input type="text" formControlName="first_name" required>
                                <div *ngIf="(signupForm.get('first_name').invalid && formDir.submitted) || (signupForm.get('first_name').dirty && signupForm.get('first_name').invalid)">
                                    <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Name is required*</h5>
                                </div>
                            </div>

                            <div class="col-md-6 col-xl-6 col-sm-6 px-3 py-2">
                                <label for="formGroupExampleInput">Email ID*</label>
                                <input  type="email" formControlName="email" required>
                                <div *ngIf="(signupForm.get('email').invalid && formDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                                    <!-- <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Email must be on the (@sanofi.com & sanofi-india.com) domain</div> -->
                                    <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Email ID is required*</h5>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-6 col-sm-6 px-3 py-2">
                                <label for="formGroupExampleInput">Phone Number*</label>
                                <input  type="number" formControlName="phone" required>
                                <div *ngIf="(signupForm.get('phone').invalid && formDir.submitted) || (signupForm.get('phone').dirty && signupForm.get('phone').invalid)">
                                    <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Phone Number is required*</h5>
                                    
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-6 col-sm-6 px-3 py-2">
                                <label for="formGroupExampleInput">Company*</label>
                                <input  type="text" formControlName="job_title" required>
                                <div *ngIf="(signupForm.get('job_title').invalid && formDir.submitted) || (signupForm.get('job_title').dirty && signupForm.get('job_title').invalid)">
                                    <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Company is required*</h5>
                                    
                                </div>
                            </div>

                            <div class="col-md-6 col-xl-6 col-sm-6 px-3 py-2">
                                <label for="formGroupExampleInput">Designation*</label>
                                <input  type="text" formControlName="designation" required>
                                <div *ngIf="(signupForm.get('designation').invalid && formDir.submitted) || (signupForm.get('designation').dirty && signupForm.get('designation').invalid)">
                                    <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Designation is required*</h5>
                                    
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-6 col-sm-6 px-3 py-2">
                                <label for="formGroupExampleInput">Nearest Metro City*</label>
                                <select id="cars" formControlName="cities">
                                    <!-- <option value="value" selected disabled>City Name</option> -->
                                    <option value="ahmedabad">Ahmedabad</option>
                                    <option value="bengaluru">Bengaluru/Bangalore</option>
                                    <option value="chennai">Chennai</option>
                                    <option value="delhi">New Delhi</option>
                                    <option value="kolkata">Kolkata</option>
                                    <option value="hyderabad">Hyderabad</option>
                                    <option value="mumbai">Mumbai</option>
                                    <option value="pune">Pune</option>
                                  </select>
                                  <div *ngIf="(signupForm.get('cities').invalid && formDir.submitted) || (signupForm.get('cities').dirty && signupForm.get('cities').invalid)">
                                    <h5 style="color: crimson;font-weight: 900;letter-spacing: 1px;">Nearest Metro City is required*</h5>
                                    
                                </div>
                                <!-- <input  type="text" formControlName="job_title" required> -->
                            </div>

                            <!-- <div class="col-md-12 col-xl-12 col-sm-12 pt-4 pl-4">
                                <label for="second_image" style="margin-top: 19px;
                                margin-bottom: 0px;">Upload Your Image (Optional)</label>
                              <input type="file" (change)="handleGenralcopy($event.target.files)" class="form-control" formControlName="genral_copy" accept="image/*" >
                            </div> -->

                            <!-- <div class="col-md-12 col-xl-12 col-sm-12 pt-4 pl-4">
                                <label for="formGroupExampleInput">Headquater*</label>
                                <input type="text" formControlName="job_title" required>
                                <div *ngIf="(signupForm.get('job_title').invalid && formDir.submitted) || (signupForm.get('job_title').dirty && signupForm.get('job_title').invalid)">
                                    <div style="font-weight: 400; font-size: 12px; color: #e7388b;">*Job title required</div>

                                </div>
                            </div> -->



                            <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                <label for="formGroupExampleInput">Token*</label>
                                <input type="text" formControlName="token">
                            </div> -->

                            <!-- <div class="col-md-6 col-xl-6 col-sm-12 pt-4 pl-4">
                                <img [src]="imgURL" height="100" *ngIf="imgURL">
                            </div> -->
                            <!-- <div class="col-md-12 col-xl-12 col-sm-12 pl-4">
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox" name="" value="" (change)="isChecked($event)">
                                    <label for="checkbox"><span>*I agree, By supplying my contact
                                            information.</span></label>
                                </div>
                            </div> -->
                            <div class="col-md-12 col-xl-12 col-sm-12 text-center">
                                <button class="submit-btn" type="submit">RESERVE YOUR SEAT</button>
                            </div>

                        </div>
                        &nbsp;
                        <!-- <p class="login-wrapper-footer-text" style="color: #ffffffb3;">If already registered? <a routerLink="/login" class="text-reset">Login here</a></p> -->
                    </form>
                </div>
        </div>
    </div>

</div>
